DEPLOY_REMOTE_HOST=bot_user@example.com
DEPLOY_REMOTE_DIR=/home/bot_user/bot
DEPLOY_DATA_DIRECTORY=/home/bot_user/bot/data
DEPLOY_BINARY_NAME=rust_discord_bot
DEPLOY_SERVICE_NAME=discord-bot

# Values used to render systemd/discord-bot.service.template during first install
DEPLOY_SERVICE_USER=bot_user
DEPLOY_SERVICE_GROUP=bot_user
DEPLOY_RESTART_SECONDS=10
DEPLOY_START_LIMIT_INTERVAL_SECONDS=60
DEPLOY_START_LIMIT_BURST=5
DEPLOY_MEMORY_MAX=256M
DEPLOY_CPU_QUOTA=50%
